<ng-container *ngFor="let contact of contacts" class="container">
    <div class="card">
        <div class="image">
            <img src="{{contact.attributes.image}}" />
        </div>
        <div class="content">
            <div class="location">{{contact.attributes.location}}</div>
            <h1>{{contact.attributes.name}}</h1>
            <h2>{{contact.attributes.role}}, {{contact.attributes.company}}</h2>
            <p>{{contact.attributes.info}}</p>
            {{contact.attributes.email}} |
            <a href="http://www.twitter.com/{{contact.attributes.twitter}}">@{{contact.attributes.twitter}}</a>
        </div>
    </div>
</ng-container>